.btn-read-more {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }

.App {
  display: flex;
  flex-direction: column;
  background-color: #9ba9b9; 
  align-items: center; /* Centers children horizontally in the flex container */
  justify-content: center; /* Centers children vertically in the flex container */
  color: #333; 
  width: 100%;
}

.title {
  text-align: center; 
}
  